<h3 class="page-title">
服务商 <small>所有提供服务的供应商</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "管理", "/" %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "服务商", service_vendors_path %>
  </li>
</ul>