<h3 class="page-title">
订单 <small>所有预定</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "管理", "/" %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "订单", service_orders_path %>
  </li>
</ul>