<h3 class="page-title">
车主 <small>所有车主信息</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "管理", "/" %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "车主", car_owners_path %>
  </li>
</ul>